body {background-color: gold;}

h1 {color: blue;
border-width: 5px;
border-style: solid;
border-color: green;}

h2 {color: blue;
border-width: 5px;
border-style: solid;
border-color: green;}

figcaption {color: blue;
border-width: 5px;
border-style: solid;
border-color: green;}

a {color:purple}
